# ======================================================
# PES Manual Pass Controller Override Configuration File
# ======================================================

# Set to 1 to turn on logging, or 0 to turn off
Logging=1

# PES game version, only support 6 and 11.
# For PES 2010 and below, set to 6 in order to use L2+X/O to do manual pass
# For PES 2011, set to 11 to turn on force manual pass (i.e. without pressing L2)
GameVersion=6

# ======================================================
# Shared configuration
# ======================================================

# Choose which gamepad instance index to modify (1, 2 etc.)
# If set to 0 the active gamepad will be auto detected by right joystick movement.
# If set to a positive value, the gamepad of that index will be forcily used.
TargetDeviceIndex=0

# Distance right joystick needs to move in order for controller to be detected.
# Only used if TargetDeviceIndex is set to 0
RightStickThreshold=0.5

# Short pass button (X) index
# This can be found in PES setting controller tab
ButtonXIndex=0

# Lob pass button (O) index
# This can be found in PES setting controller tab
ButtonOIndex=1

# ======================================================
# Configuration when GameVersion is 6
# ======================================================

# LB/L1 button index to trigger lob manual pass
# This can be found in PES setting controller tab
ButtonL1Index=4

# How many millis seconds it takes to push the right stick to the maxium position
# Smaller number will lead to more power in the manual pass
PassGaugeFillupTime=50

# Distance L2 needs to be pressed in order to enable manual apss
# L2 will be handled by the Game if pressed without exceeding this threshold
# This is used to make L2+X/O still work for strategy change in gameplay
ButtonL2Threshold=0.99

# ======================================================
# Configuration when GameVersion is 11
# ======================================================

# Force manual pass
# Set to 1 will always force manual pass, i.e. no need to press button to toggle. 
ForceManualPass=0

# Button to toggle L2 on/off in order to enable/disable force manual pass
# When L2 is toggled on, pressing X/O even without L2 pressed will perform manual pass
ButtonL2ToggleIndex=8

# Distance left joystick needs to move in order to trigger force manual pass
# That is when X/O is pressed, L2 will only be implicitly simulated if left stick has enough movement
LeftStickThreshold=0.5