# ======================================================
# PES Manual Pass Controller Override Configuration File
# ======================================================

# Set to 1 to turn on logging, or 0 to turn off
Logging=0

# ======================================================
# Features that can be turned on/off individually
# ======================================================

# If enabled, L2 will be simulated automatically when passing
EnableAutoManualPass=1

# If enabled, Pressing L2+O/X will trigger manual pass instead
# of using (L1) + right joystick. This works for old PES titles
# including PES 5/6/2010.
# In PES 5/6, manual pass type must be set to 2 accordingly.
EnableManualPassAltControl=1

# If enabled, sprinting controller input will be ignored if the
# button is being pressed longer than a configured period of time. 
EnableSprintPenalty=1

# ======================================================
# Shared configuration
# ======================================================

# Choose which gamepad instance index to modify (1, 2 etc.)
# If set to 0 the active gamepad will be auto detected by right joystick movement.
# If set to a positive value, the gamepad of that index will be forcily used.
TargetDeviceIndex=0

# Distance right joystick needs to move in order for controller to be detected.
# Only used if TargetDeviceIndex is set to 0
RightStickThreshold=0.5

# Short pass button (X) index
# This can be found in PES setting controller tab
ButtonXIndex=0

# Lob pass button (O) index
# This can be found in PES setting controller tab
ButtonOIndex=1

# ======================================================
# Configuration for manual pass alternative control
# ======================================================

# LB/L1 button index to trigger lob manual pass
# This can be found in PES setting controller tab
ButtonL1Index=4

# How many millis seconds it takes to push the right stick to the maxium position
# Smaller number will lead to more power in the manual pass
PassGaugeFillupTime=50

# Distance L2 needs to be pressed in order to enable manual apss
# L2 will be handled by the Game if pressed without exceeding this threshold
# This is used to make L2+X/O still work for strategy change in gameplay
ButtonL2Threshold=0.99

# ======================================================
# Configuration for auto manual pass
# ======================================================

# Force manual pass
# Set to 1 will always force manual pass, i.e. no need to press button to toggle. 
ForceManualPass=1

# Button to toggle L2 on/off in order to enable/disable force manual pass
# When L2 is toggled on, pressing X/O even without L2 pressed will perform manual pass
ButtonL2ToggleIndex=8

# Distance left joystick needs to move in order to trigger force manual pass
# That is when X/O is pressed, L2 will only be implicitly simulated if left stick has enough movement
LeftStickThreshold=0.5

# ======================================================
# Configuration for sprint penalty
# ======================================================

# RB/R1 button index to trigger sprint.
ButtonR1Index=5

# Distance R2 needs to be pressed in order to be recognized as pressing to sprint
# Sprint is by default triggered by R1. In case R2 is used for sprint, set this value
# to non zero value. When set to 0, R1 will be used for sprint.
SprintButtonR2Threshold=0.9

# How many milliseconds sprint button can be pressed and held. Button press after
# this max time will be ignored and cooldown time will kick in.
SprintTimeAllowed=2000

# Cooldown time before sprint is allowed again after reaching the max allowed sprint time.
SprintCoolDownTime=5000