# =======================================================
# PES6 Manual Pass Controller Override Configuration File
# =======================================================

# Set to 1 to turn on logging, or 0 to turn off
Logging=1

# Choose which gamepad instance index to modify (0, 1, etc.)
TargetDeviceIndex=0

# Short pass button (X) index
# This can be found in PES setting controller tab
ButtonXIndex=0

# Lob pass button (O) index
# This can be found in PES setting controller tab
ButtonOIndex=1

# LB/L1 button index to trigger lob manual pass
# This can be found in PES setting controller tab
ButtonL1Index=4

# How many millis seconds it takes to push the right stick to the maxium position
# Smaller number will lead to more power in the manual pass
PassGaugeFillupTime=50

# Distance L2 needs to be pressed in order to enable manual apss
# L2 will be handled by the Game if pressed without exceeding this threshold
# This is used to make L2+X/O still work for strategy change in gameplay
ButtonL2Threshold=0.99